language: csharp
node_js: 
 - '0.10' 
solution: WebApiSample.sln 
mono:
  - latest
deploy:
   edge: true
   provider: cloudfoundry
   username: jasonrdonald@yahoo.co.in
   password: Jason@1
   api: https://api.run.pivotal.io
   organization: Techavengers
   space: test

before_install:
  - sudo apt-get install nunit-console
before_script:
  - nuget restore WebApiSample.sln

